#mainContent {
	background-color: #fff;
	padding: 0 3em;
}

#announcments,
#belowSlider {
	width: 100%;
	max-width: 100vw;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	#mainContent {
		padding: 0 12em;
	}
}

/*
================================================================================================================
Front page announcement area
================================================================================================================
*/

#announcments {
	margin-left: -10px;
	place-self: center;

}

#announcments video {
	max-width: 100%;
	max-height: 600px;
	display: block;
	margin: 0 auto;

}

#announcments .sticky {
	min-height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 20px;
}

.videoslide {
	display: flex;
	justify-content: center;
	align-items: center;
}

#announcments h1 {
	position: absolute;
	left: -9999px
}

@media (min-width:700px) {


	#announcments {
		margin-left: unset;
	}

	#announcments .sticky {
		min-height: 500px;
	}
}

/*================================================================================================================
Calendar styles 
================================================================================================================*/
.grid2_3 .simcal-calendar-list h2 {
	font-size: 1.25em;
}

.grid2_3 .simcal-calendar-list .simcal-events li {
	margin-top: -15px !important
}

.simcal-event-description {
	word-break: break-all;
}

/*
------------------------------------------------------------------------------------------------------------------------------------------
Home Page News
------------------------------------------------------------------------------------------------------------------------------------------
*/
#homeNews {
	display: block;
	padding: 2em;
}

.frontpage .post {
	position: relative;
	display: grid;
	align-items: center;
	background-color: var(--theme-white);
	padding: 1em;
	min-height: 250px;
	background-position: center;
}

.frontpage .post::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	/* Adjust the color and opacity as needed */
	z-index: 1;
}

.frontpage .post h2,
.frontpage .post a {
	position: relative;
	z-index: 2;
	color: var(--theme-white);
}

#homeNews .stories {}

#homeNews .stories h2 {
	max-width: 95%;
	padding-left: 5%;
}

#homeNews .stories {
	display: grid;
	grid-template-columns: repeat(3, minmax(30%, 1fr));
	gap: 1%;
	align-items: center;
}

#homeNews .stories article {
	display: grid;
	align-items: center;
}

#homeNews .stories article {
	background-color: var(--theme-white);
	padding: 1em;
	min-height: 250px;
	background-position: center;
}

#homeNews .moreNews {
	margin-top: 100px;
}

@media (min-width:600px) {
	#homeNews .moreNews {
		margin-top: 50px;
	}
}

#homeNews .categories-6h ul li {
	/* display: flex; */
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}

/*
----------------------------------------------------------------
Responsive styles
----------------------------------------------------------------
*/
@media (max-width: 1000px) {
	#homeNews .stories {
		grid-template-columns: repeat(2, minmax(50%, 1fr));
	}
}

@media (max-width: 575px) {
	#homeNews .stories {
		grid-template-columns: 1fr;
	}
}

/*
--------------------------------------------------------------------------------------------------------------
Social Icons and Juicer near the bottom
--------------------------------------------------------------------------------------------------------------
*/
#socialMediaFrontPage {
	padding: 0 1em 1em 2em;
}

#socialMediaFrontPage .sociallinks {
	text-align: center;
}

#socialMediaFrontPage .sociallinks li {
	display: inline;
	margin: 0 10px 0 0;
}

#socialMediaFrontPage .sociallinks li a {
	text-decoration: none;
}

#socialMediaFrontPage .sociallinks li img {
	width: 45px;
}


.homeMainContent .notgrid2 {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}