#mainContent {
	background-color: #fff;
	padding: 0 1em;

}

#announcments,
#belowSlider {
	width: 100%;
	max-width: 100vw;
	margin: 0 auto;
}

/*
================================================================================================================
Front page Slider
================================================================================================================
*/

#announcments {
	margin-left: -10px;
}

#announcments video {
	max-width: 100%;
	max-height: 600px;
	display: block;
	margin: 0 auto;

}

.videoslide {
	display: flex;
	justify-content: center;
	align-items: center;
}

#announcments h2 {
	position: absolute;
	left: -9999px
}



@media (min-width:700px) {


	#announcments {
		margin-left: unset;
	}
}



/*
------------------------------------------------------------------------------------------------------------------------------------------
Home Page News
------------------------------------------------------------------------------------------------------------------------------------------
*/
#homeNews {
	display: block;
	padding: 2em;
	/* margin-bottom: 80px;
	padding-top: 20px; */
	background-color: var(--main-offset);
}

#homeNews .stories {}

#homeNews .stories h2 {
	max-width: 95%;
	text-align: left;
	padding-left: 5%
}

#homeNews .stories {
	display: grid;
	grid-template-columns: repeat(3, minmax(30%, 1fr));
	gap: 1%;
}

#homeNews .stories article,
#homeNews .moreNews {
	background-color: var(--theme-white);
	padding: 1em;
}

#homeNews .stories .articleContent {
	padding-left: 5%;
	padding-right: 5%;
	text-align: left;
	height: 85px;
	overflow: hidden;
}

#homeNews .stories .readMore {
	text-align: left;
	padding-left: 5%;
	margin-top: 0;

}

#homeNews .moreNews {
	margin-top: 35px;
}

#homeNews .stories .postDate {
	text-align: right;
	margin-right: 5%;
}

#homeNews .categories-6h ul {
	display: grid;
	/* grid-template-columns: repeat(2, 1fr); */
	grid-template-columns: 1fr;
	list-style: none;
	gap: 1em;
}

@media (min-width:350px) {
	#homeNews .categories-6h ul {
		grid-template-columns: repeat(2, 1fr);

	}
}

@media (min-width:600px) {
	#homeNews .categories-6h ul {
		grid-template-columns: repeat(3, 1fr);

	}

	#homeNews .moreNews {
		margin-top: 20px;
	}
}

@media (min-width:1000px) {
	#homeNews .categories-6h ul {
		grid-template-columns: repeat(6, 1fr);

	}

	#homeNews .moreNews {
		margin-top: 10px;
	}
}

#homeNews .categories-6h ul li {
	/* display: flex; */
	align-items: center;
	/* justify-content: center; */
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}

#homeNews .categories-6h ul li a::before {
	content: '';
	width: 100%;
	padding-bottom: 50%;
	background-repeat: no-repeat;
	background-attachment: local;
	background-position: center center;
	background-size: cover;
	display: block;
}

/*
----------------------------------------------------------------
Responsive styles
----------------------------------------------------------------
*/
@media (max-width: 1000px) {
	#homeNews .stories {
		grid-template-columns: repeat(2, minmax(50%, 1fr));
	}

	#homeNews .stories article:last-child {
		grid-column-start: 0;
		grid-column-end: span 2;
	}
}

@media (min-width: 850px) {
	#announcments {
		background-image: url(../img/background/slider-background.png);
	}
}

@media (max-width: 575px) {
	#homeNews .stories {
		grid-template-columns: 1fr;
	}

	#homeNews .stories article:last-child {
		grid-column-start: unset;
		grid-column-end: unset;
	}
}








/*
--------------------------------------------------------------------------------------------------------------
Social Icons and Juicer near the bottom
--------------------------------------------------------------------------------------------------------------
*/
#socialMediaFrontPage {
	padding-bottom: 50px
}

#socialMediaFrontPage .sociallinks {
	text-align: center;
}

#socialMediaFrontPage .sociallinks li {
	display: inline;
	margin: 0 10px 0 0;
}

#socialMediaFrontPage .sociallinks li a {
	text-decoration: none;
}

#socialMediaFrontPage .sociallinks li img {
	width: 45px;
}


.homeMainContent .notgrid2 {
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
}