* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  z-index: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}

::-moz-scrollbar {
  -webkit-appearance: none;
  width: 0;
}

iframe {
  display: block;
  width: 100%;
  height: 500px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

.siteLogo a:hover {
  color: var(--link-color);
}

p {
  margin: 1em 0;
}

/* General lists  */
#currentPage ul,
#currentPage ol {
  margin: 1em 0 1em 1em;
}

#currentPage ul li,
#currentPage ol li {
  margin: 1em 0 1em 1em;
}

#currentPage ul.menu,
#currentPage ul.menu li,
#currentPage .postmeta ul,
#currentPage .postmeta ul li {
  margin: 0;
}

table {
  width: 100%;
  border-spacing: 0;
}

table td,
table th {
  border: 1px solid var(--odd-color);
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

video,
.wp-video {
  width: 100% !important;
  height: auto !important;
  max-width: 100% !important;
}